html {
  background: FFFFFF;
  font-family: Poppins;
  color: #000000;
}
/* navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 2%;
  flex-wrap: nowrap;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.15px;
}
.links {
  display: flex;
  gap: 30px; /* Dostosuj odstęp między linkami */
}


/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: 15px 50px;
}
.socials {
  align-items: center;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #000000;
}
a:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.socials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 40px;
  height: 40px;
  padding: 15px;
}
/* main content */
main {
  margin-left: auto;
  margin-right: auto;
  padding: 30px 50px;
  max-width: 800px;
}
.index {
  max-width: fit-content;
}
/* hero section */
.hero {
  padding: 100px 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/* projects page */
.project_grid {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
}

.whole_project {
  padding: 16px;
}
.project_imgs {
  max-width: 100%;
}
/* project page */
.project_decription {
  max-width: 800px;
}
.process {
  display: flex;
  flex-wrap: wrap;
}
.process_step {
  min-width: 200px;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project_cover {
  max-width: 720px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.project_page_image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* typography */
heading {
  font-style: normal;
  font-weight: 275;
  font-size: 50px;
  line-height: 90px;
  letter-spacing: 1.5px;
  margin-top: 0px;
  margin-bottom: 40px;
}
.subheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  padding-top: 25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  font-style: normal;
  font-weight: 275;
  font-size: 42px;
  line-height: 90px;
  letter-spacing: 1.5px;
}
h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 275;
  font-size: 48px;
  line-height: 87px;
  letter-spacing: 0.5px;
}
h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 60px;
}
h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0.25px;
}
h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
}
h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
}
p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
}
/* media queries */

@media (max-width: 1024px) {
  .project_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .project_grid {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 300 /* Zapewnia, że ikona jest zawsze na wierzchu */
  }

  #logo {
    display: inline-block;
    left: 20px; /* Logo po lewej */
    top: 20px;
    z-index: 100; /* Logo pod menu rozwijanym */
  }

  .links {
    display: none;
    flex-direction: column;
    left: 0; 
    top: 100%; 
    width: 100%;
    right: 20px; /* Wyrównanie do hamburgera */
    background: white;
    text-align: right;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    gap: 10px;
    z-index: 200; /* Menu nad logo, ale pod hamburgerem */
    position: absolute;
  }

  .links a {
    padding: 15px;
    display: block;
    width: 100%; /* Zajmuje całą szerokość menu */
    box-sizing: border-box; /* Upewnia się, że padding nie zaburza szerokości */
    align-items: center; /* Centrowanie pionowe */
  }

  .links.show {
    display: flex;
  }
}

@media (max-width: 415px) {
  heading {
    font-size: 34px;
    line-height: 51px;
  }
  .subheading {
    .subheading {
      font-size: 22px;
      line-height: 33px;
      padding-top: 25px;
    }
  }
  h1 {
    font-size: 20px;
    line-height: 30px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }

  .hero {
    padding: 5%;
  }
  .whole_project {
    padding: 0px;
  }
  main {
    padding: 5%;
  }
}
