html {
  background: FFFFFF;
  font-family: Poppins;
  color: #000000;
}
/* navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-height: 100px;
  padding: 15px 50px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.15px;
}
/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: 15px 50px;
}
.socials {
  align-items: center;
  justify-content: center;
  align-items: center;
  flex: 1;
}
/* links */
.links {
  padding-top: 9px;
  padding-bottom: 9px;
  padding: 20px;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #000000;
}
a:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.socials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 40px;
  height: 40px;
  padding: 15px;
}
/* main content */
main {
  margin-left: auto;
  margin-right: auto;
  padding: 30px 50px;
}
/* hero section */
.hero {
  padding: 150px 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/* projects page */
.project_grid {
  display: grid;
  
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
}
.whole_project {
  padding: 16px;
}
.project_imgs {
  max-width: 100%;
}
/* project page */
.project_decription {
  max-width: 800px;
}
.process {
  display: flex;
  flex-wrap: wrap;
}
.process_step {
  min-width: 200px;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project_cover {
  max-width: 720px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project_page_image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* typography */
heading {
  font-style: normal;
  font-weight: 275;
  font-size: 56px;
  line-height: 90px;
  letter-spacing: 1.5px;
  margin-top: 0px;
  margin-bottom: 40px;
}
.subheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  padding-top: 25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  font-style: normal;
  font-weight: 275;
  font-size: 42px;
  line-height: 90px;
  letter-spacing: 1.5px;
}
h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 275;
  font-size: 48px;
  line-height: 87px;
  letter-spacing: 0.5px;
}
h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 60px;
}
h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0.25px;
}
h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
}
h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
}
p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
}
/* media queries */
@media only screen and (max-width: 480px) {
  p {
    font-size: 16px;
  }
  h2 {
    font-size: 20px;
    padding: 10px;
  }
}
